body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  background: #00ff00;
  color: #1b1b1b;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links li {
    margin: 0 10px;
  }

a:hover {
    color: red;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .home {
    height: 100vh; /*home body*/
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-container {
    display: flex;/*divide into two*/
    justify-content: space-between;/*add space btw*/
    width: 100%;/*give enouge space btw contents*/
  }

  .home-sub-container {
    max-width: 50%;
  }


.home-socialicon {
  color: #00ff00;
  font-size: 1.5rem;
  margin-right: 15px;
  text-decoration: none;
}

.home-image{
  position: relative;
}

.home-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;/*round shape of the image*/
  border: 5px solid #1b1b1b;/*border*/
}

.home-image-border {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  height: 400px;
  border: 2px solid #00ff00;
  border-radius: 40%;/*round shape*/
  z-index: -1;
}

#projects .project {
    background-color: #f4f4f4;
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
}




/* Responsive Design */
@media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #444;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
      }
    
      .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .home {
      
    }

  
}